DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_VM0mxAq6rOov@ep-calm-credit-ao9qk4el.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=95f7ad7d56654065546291e8c838c498d58909a0aef254a6678a22cd25b2cc26
ALGORITHM=HS256
CLERK_SECRET_KEY=sk_test_cV2DAe2pIDgeKimsYWZ4uKCEj3hzTBxhPXwJEBRkB6
CLERK_ISSUER=https://your-instance.clerk.accounts.dev
ALPHA_VANTAGE_KEY=SPAUVDEXPQZS16N9
